.left{
  float: left;
}

.right {
  float:right;

}

.cf {
  clear:both;
}


img {
  width: 30px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #edeff0;
  height: 100%;
  width: auto;
  font-family: 'Ubuntu', sans-serif;
}

li {
  list-style: none;
  display: inline;
}

.container {
  margin-left: 100px;
  margin-right: 100px;
}
.nav {
  /*border-bottom: 1px black solid;*/
  overflow: auto;
  width: 1060px;
  margin-left: 20px;
  box-shadow: 0 5px 5px -5px #777777;
}

.nav li {
  float: right;
  border-right: 1px #b2bac2 solid;
  padding: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.nav li:last-child {
  margin-top: 4px;
  border-right: 1px #edeff0 solid;
  color: #b2bac2;
  font-size: 20px;
}

.nav li:first-child {
  border-right: 1px #edeff0 solid;
}

.nav h2 {
  float: left;
  margin-left: 15px;
}

.box {
  width: 510px;
  height: 310px;
  background: #FFF;
  float: left;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px #777777;
}

.box-content {
  padding:10px;
  color: #7b7f80;
}

.box-content h2 {
    color: #000;
}


li.left {
  margin-right: 5px;
  margin-top: 5px;
  border: 1px #b2bac2 solid;
  border-radius: 50px;
}

li.right {
  margin-right: 5px;
  border:0px white solid;

}


.box-content li {
  padding: 10px;
}


.box-content ul {
  margin-top: 30px;
}

.box-header {/*all box headers*/
  width: 480px;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.box-header p{
  float: right;
  color: #fff;
}

.box-header img{
  float: left;
  margin-top: 10px;
}

.header1 {
 background: #259775;
}

.header2{
  background: #f291b0;
}

.header3{
 background: #828ac9;
}

.header4 {
  background: #259775;
}

.green {
  color: #259775;
}

.pink {
  color:#f291b0;
}

.purple {
  color:#828ac9;
}
